h1 {
  margin-top: 96px;
  margin-left: 16%;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 360px;
  margin: 24px auto;
  border: solid white 2px;
  box-sizing: border-box;
}

.about-container img{
  max-width: 40%;
  height: inherit;
  object-fit: cover;
}

.about-content {
  flex: 1;
  padding: 24px;
  box-sizing: border-box;
}

.typewriter-text {
  font-family: "Noto Serif", Arial;
  font-size: 2rem;
  font-weight: 500;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: .15em solid white;
  animation: typing 3.5s steps(30, end), blink-caret 1s step-end infinite;
  margin-bottom: 24px;
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}

.about-content p {
  font-size: 0.8rem;
  margin-bottom: 16px;
}