.about {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 48px;
  width: 60%;
  margin: 100px auto;
}

.picture-frame {
  width: 40%;
  border-radius: 16px;
}

.picture {
  width: 100%;
  border-radius: inherit;
}

.about-content {
  width: 60%;
}

.typewriter-text {
  font-family: "Noto Serif", Arial;
  font-size: 48px;
  font-weight: 500;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: .15em solid white;
  animation: typing 3.5s steps(30, end), blink-caret 1s step-end infinite;
  margin-bottom: 24px;
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}

.about-content p {
  font-size: 16px;
  margin-bottom: 16px;
}