*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: inherit;
}

body {
  background-color: #060707;
  color: white;
  font-family: Karla, Arial;
  margin-bottom: 1000px;
}