.me {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;

  width: 60%;
  margin: 128px auto;
}

.portrait-frame {
  width: 40%;
  border-radius: 16px;
}

.portrait {
  width: 100%;
  border-radius: inherit;
}

.portrait-caption {
  width: 60%;
}

.typewriter-text {
  font-family: Inter, Arial;
  font-size: 32px;
  font-weight: bold;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: .15em solid #b2b2b2;
  animation: typing 3.5s steps(30, end), blink-caret 1s step-end infinite;
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #b2b2b2 }
}