.window {
  background-color: lightblue;
  height: 32px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;

  position: fixed;
  left: 0;
  right: 0;
}

.left-section {
  display: flex;
}

.window-icon {
  height: 32px;
}

.middle-section {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.right-section {
  display: flex;
  height: 32px;
}